@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Variable.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../assets/fonts/RobotoSlab-Variable.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../assets/fonts/Orbitron-Variable.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../assets/fonts/Cinzel-Variable.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
}

@font-face {
    font-family: 'Red Rose';
    src: url('../assets/fonts/RedRose-Variable.ttf') format('truetype');
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
}
