$color-page-bg: rgb(45, 48, 46);
$color-text: rgb(247, 247, 247);
$color-primary: rgb(244, 235, 96);
$color-surface: rgb(59, 73, 69);
$color-settings-surface: rgb(240, 240, 240);
$color-player-blue: rgb(46, 174, 239);
$color-player-orange: rgb(255, 145, 48);
$color-game-accent: rgb(78, 205, 184);
$color-gaming-bg: #2a4f61;
$color-gaming-accent: #ff006e;
$color-fantasy-bg: #07182f;
$color-fantasy-text: #f8e7a1;
$color-fantasy-gold: #d8ae55;

$sizes: (
    zero: 0px,
    xs: 8px,
    sm: 16px,
    md: 24px,
    lg: 32px,
    xl: 44px,
    xxl: 68px
);

$breakpoints: (
    zero: 0px,
    xs: 360px,
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl: 1440px
);
